{% extends 'logger/base.html' %}

{% load markdown_deux_tags %}

{% block title %}
Investigation
{% endblock %}

{% block content %}

    <h2>{{ investigation.title }}</h2>

    <h3>{{ investigation.question }}</h3>

    <h4>Started {{ investigation.opened|date:"d M Y" }}</h4>

    <p>{{ investigation.hypothesis|safe }}</p>

    <p>{{ investigation.discussion|safe }}</p>

    <br>

    <a href="{% url 'investigation-logs-add' investigation.slug %}" class="btn
    btn-primary">New Log</a>

    <hr>

    {% for log in investigation.log_set.all %}

        <h3><a href="{{ log.get_absolute_url }}">{{ log.last_edit }}</a></h3>

        <small>Created {{ log.created }}</small>

        <p>{{ log.summary }}</p>

    {% endfor %}

{% endblock %}
