{% extends 'logger/base.html' %}

{% load widget_tweaks %}

{% block title %}
    New Investigation
{% endblock %}

{% block content %}
<form method="post" class="post-form">{% csrf_token %}
    {% for field in form %}
            <fieldset class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {% if "boolean" not in field|field_type %}
                    {{ field|add_class:"form-control" }}
                {% endif %}
                {% if field|field_type == "booleanfield" %}
                    {{ field|add_class:"checkbox" }}
                {% endif %}
            </fieldset>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}